* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 400px;
  width: 100%;
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: bottom;
}

.heading {
  color: gray;
  display: inline-block;
  margin: 20px 0 0 20px;
}

main {
  margin-top: 20px;
  margin-bottom: 50px;
}

.contents {
  width: 840px;
  margin: 0 auto;
}

.content {
  padding: 30px 0;
  border-bottom: 1px solid gray;
}